    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: Roboto, Arial, sans-serif;
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    a {
        text-decoration: none;
        color: #333;
    }
    
    .main-body {
        background-color: #F5F5F5;
        transition: .3s ease;
        overflow: hidden;
    }
    
    .container {
        width: 1200px;
        margin: 0 auto;
    }
    
    .header .top {
        height: 33px;
        background-color: #F6F6F6
    }
    
    .header .top a {
        transition: .2s linear;
    }
    
    .header .top a:hover {
        color: #1a8cff;
    }
    
    .top>.container {
        display: flex;
        height: 33px;
        padding: 4px;
        line-height: 25px;
        justify-content: space-between;
    }
    
    .top .container a {
        font-size: .8rem;
        color: #333;
    }
    
    .top .services-left ul li {
        display: inline-block;
        margin-right: 20px;
    }
    
    .top .services-left ul li i {
        color: #e00;
        padding-right: 4px;
    }
    
    .top .services-left ul li:last-child {
        background-color: #DDDDDD;
        padding: 0 14px;
        border-radius: 20px;
    }
    
    .top .login-right a {
        font-size: .88rem;
    }
    
    .top .login-right a i {
        padding-right: 4px;
    }
    
    .highlight-tt {
        background-color: white;
    }
    
    @keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0)
        }
        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0)
        }
    }
    
    .highlight-tt>.container {
        flex-wrap: nowrap !important;
    }
    
    .highlight-tt .hl-flex {
        height: 94px;
        display: flex;
    }
    
    .highlight-tt .hl-flex .logo-web {
        width: 240px;
    }
    
    .highlight-tt .hl-flex .logo-web img {
        width: 100%;
        height: 94px;
        object-fit: cover;
    }
    
    .highlight-tt .hl-flex .search {
        margin: auto 0;
    }
    
    .highlight-tt .hl-flex .search .all-list {
        border: 1px solid#d9d9d9;
        border-radius: 4px;
    }
    
    .search .all-list input {
        border: none;
        outline: none;
        font-size: .9rem;
        padding-right: 60px;
    }
    
    .search .all-list span {
        display: inline-block;
        padding: 6px 12px 6px 8px;
        font-size: .9rem;
    }
    
    .search .all-list>i {
        display: inline-block;
        color: white;
        padding: 8px 16px;
        border-radius: 4px;
        margin-top: 2px;
        margin-right: 2px;
        background-color: #ec3237;
    }
    
    .highlight-tt .hl-flex .clothes-seen {
        margin: auto 0;
        background-color: #ec3237;
        color: white;
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
        font-size: .85rem;
        border-radius: 4px;
        margin-left: 22px;
    }
    
    .clothes-seen span i {
        position: relative;
        bottom: 2px;
        left: 2px;
    }
    
    .highlight-tt .hl-flex .choose-item-right {
        margin: auto 0;
        padding-left: 20px;
    }
    
    .highlight-tt .hl-flex .choose-item-right ul li {
        display: inline-block;
        width: 81px;
    }
    
    .highlight-tt.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        box-shadow: 0 2px 5px 0 #cecece;
        animation: fadeInDown .4s linear;
    }
    
    .choose-item-right ul li i {
        font-size: 1.65rem;
        padding-bottom: 8px;
        color: #ec3237;
    }
    
    .choose-item-right ul li p {
        font-size: .75rem;
        font-weight: 600;
    }
    
    .choose-item-right .item {
        padding-top: 8px;
        text-align: center;
    }
    
    .navigation-main {
        width: 100%;
        position: relative;
        box-shadow: 0 2px 5px 0 #cecece;
    }
    
    .navigation-main::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ec3237;
        top: -2px;
    }
    
    .navigation-main .nav-row {
        height: 40px;
        display: flex;
    }
    
    .navigation-main .nav-row .list-nav {
        position: relative;
        width: 240px;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        background-color: #ec3237;
    }
    
    .navigation-main .nav-row .list-nav h3 {
        position: relative;
        color: white;
        font-size: 1rem;
        text-transform: uppercase;
    }
    
    .navigation-main .nav-row .list-nav h3::before {
        content: "";
        position: absolute;
        width: calc(100% + 20px);
        height: 2px;
        background-color: white;
        top: -2px;
        left: -10px;
    }
    
    .nav-row .list-nav h3 i {
        padding-right: 5px;
        font-size: 1.25rem;
    }
    
    .navigation-main .nav-row .infor-review {
        margin: auto 0;
        padding-left: 20px;
        flex: 1;
    }
    
    .nav-row .infor-review i {
        padding-right: 12px;
        font-size: 1.2rem;
        color: #ff6600;
    }
    
    .nav-row .list-item {
        height: 480px;
        position: absolute;
        left: 0;
        right: 0;
        background-color: white;
    }
    
    .nav-row .list-item>ul>li {
        height: 33.6px;
        line-height: 33.6px;
        padding: 0 10px;
        font-size: .9rem;
        border-bottom: 1px solid#f2f2f2;
    }
    
    .nav-row .list-item>ul>li:hover .item-information {
        visibility: visible;
        opacity: 1;
    }
    
    .nav-row .list-item ul li:last-child {
        border: none
    }
    
    .nav-row .list-item ul li i {
        width: 30px;
    }
    
    .nav-row .list-item .item-information {
        display: flex;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(240px);
        z-index: 2;
        width: 960px;
        background-color: white;
        flex-wrap: wrap;
        opacity: 0;
        transition: .2s linear;
        border: 1px solid#cccccc;
        padding: 4px 12px;
    }
    
    .nav-row .list-item .item-information .clothes {
        flex-basis: 20%;
    }
    
    .nav-row .list-item .item-information .clothes ul li:first-child {
        color: #ec3237;
        font-weight: 700;
        font-size: .9rem;
    }
    
    .header__slider {
        padding-left: 240px;
        padding-top: 40px;
    }
    
    .header__slider img {
        width: 100%;
        height: 410px;
        object-fit: cover;
    }
    
    .header__slider .owl-nav {
        display: none;
    }
    
    .header__slider .owl-dots {
        padding-top: 12px;
    }
    
    .slider-text p {
        height: 40px;
        line-height: 40px;
        background-color: #F8E5E4;
        margin-top: 22px;
    }
    
    .slider-text p span {
        position: relative;
        color: white;
        display: inline-block;
        margin-right: 60px;
        background-color: #ec3237;
        padding-left: 16px;
    }
    
    .slider-text p span::before {
        content: "";
        position: absolute;
        border: 20px solid;
        border-color: transparent transparent transparent #ec3237;
        right: -40px;
    }
    
    .options-left {
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 160px;
        z-index: 99;
        opacity: 0;
        transition: .5s ease;
    }
    
    .options-left.show-option-left {
        visibility: visible;
        opacity: 1;
    }
    
    .options-left ul li {
        position: relative;
        background-color: #e6e6e6;
        transition: .5s ease;
    }
    
    .options-left ul li a {
        display: inline-block;
        width: 100%;
        padding: 8px 12px;
    }
    
    .options-left ul li i {
        display: inline-block;
    }
    
    .options-left ul li:hover i {
        color: white;
    }
    
    .options-left ul li:hover {
        background-color: #ec3237;
    }
    
    .options-left ul li:hover .name-option {
        visibility: visible;
        opacity: 1;
    }
    
    .options-left .name-option {
        visibility: hidden;
        position: absolute;
        right: -210px;
        top: 0;
        bottom: 0;
        font-size: .8rem;
        width: 200px;
        line-height: 34.4px;
        transition: .5s ease;
        opacity: 0;
    }
    
    .options-left .name-option::before {
        content: "";
        position: absolute;
        left: -10px;
        border: 5px solid;
        top: 8px;
        border-color: transparent #ec3237 transparent transparent;
    }
    
    .options-left .name-option::after {
        content: "";
        position: absolute;
        left: -17px;
        padding: 15px;
    }
    
    .options-left .name-option p {
        background-color: #ec3237;
        color: white;
        border-radius: 4px;
        display: inline-block;
        padding: 0 8px;
    }
    
    .option-right {
        position: fixed;
        z-index: 2;
        top: 50%;
        right: 0;
    }
    
    .option-right .option-right__icon {
        margin: 0 8px 4px 0;
    }
    
    .option-right .option-right__icon i {
        padding: 10px;
        border-radius: 100%;
        color: white;
    }
    
    .option-right .fix-bg-fb {
        text-align: center;
    }
    
    .option-right .fix-bg-fb i {
        padding: 10px 14px;
        background-color: #3b5998;
    }
    
    .option-right .fix-bg-yt i {
        background-color: #cf2200;
    }
    
    .option-right .fix-bg-mail i {
        background-color: #fd5707;
    }
    
    .option-right .fix-bg-phone i {
        background-color: #ec3237;
    }
    
    .option-right .fix-bg-mess i {
        background-color: #ff8e09;
    }
    
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 900;
        animation: tras .3s linear;
    }
    
    .active-overlay {
        display: block;
    }
    
    .active-form-registration {
        display: block !important;
    }
    
    .form-registration {
        position: fixed;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
        z-index: 991;
        background-color: white;
        padding: 40px 60px;
        border-radius: 4px;
        display: none;
        animation: tras .3s linear;
    }
    
    @keyframes tras {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    .form-registration .form-title h2 {
        color: #ec3237;
        padding-bottom: 8px;
        font-weight: 500;
    }
    
    .form-registration .form-group {
        padding: 8px 0;
    }
    
    .form-registration .form-group .label {
        padding-bottom: 8px;
    }
    
    .form-registration .form-group .input input {
        width: 100%;
        outline: none;
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #cccccc;
    }
    
    .form-registration .btn-submit button {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #cccccc;
        padding: 12px 0;
        margin-top: 8px;
        background-image: linear-gradient(90deg, #283048, #859398);
        color: white;
        text-transform: uppercase;
    }
    
    .form-registration .times {
        position: absolute;
        top: 4px;
        right: 10px;
        padding: 10px;
        font-size: 1.8rem;
        cursor: pointer;
        transition: .3s ease;
    }
    
    .form-registration .times:hover {
        transform: scale(1.2)
    }
    
    .slider-Allclothes .slider-Allclothes__item .infor-title {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }
    
    .slider-Allclothes .slider-Allclothes__item .infor-title .review {
        margin: auto 0;
    }
    
    .slider-Allclothes .slider-Allclothes__item .infor-title .review ul li {
        display: inline-block;
        padding: 0 8px;
        font-size: .9rem;
    }
    
    .slider-Allclothes .slider-Allclothes__item .infor-title .review ul li:last-child a {
        color: #ec3237 !important;
    }
    
    .slider-Allclothes .slider-Allclothes__item .carousel-custum {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 350px;
        background-color: white;
    }
    
    .slider-Allclothes .slider-Allclothes__item .carousel-custum .item-custum {
        padding: 10px;
        min-height: 350px;
    }
    
    .slider-Allclothes .slider-Allclothes__item .carousel-custum .item-custum>a {
        display: block;
        position: relative;
        padding-top: 100%;
        overflow: hidden;
    }
    
    .slider-Allclothes .slider-Allclothes__item .carousel-custum .item-custum img {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        max-width: 90%;
        max-height: 90%;
        width: auto !important;
        height: auto !important;
        margin: auto;
    }
    
    .slider-Allclothes .slider-Allclothes__item .owl-item:hover {
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.61);
        -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.61);
        -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.61);
    }
    
    .slider-Allclothes .slider-Allclothes__item .owl-item,
    .slider-Allclothes .slider-Allclothes__item .carousel-custum .item-custum img {
        transition: all 0.2s ease;
    }
    
    .slider-Allclothes .slider-Allclothes__item .carousel-custum .item-custum img:hover {
        transform: scale(1.1);
    }
    
    .slider-Allclothes .slider-Allclothes__item .carousel-custum .item-custum .name-clothes {
        padding: 14px 0;
        font-size: .9rem;
    }
    
    .carousel-custum .item-custum .price-clothes {
        padding-top: 4px;
        color: #ec3237;
        font-weight: 600;
    }
    
    .carousel-custum .item-custum .icon-bottom {
        padding-top: 20px;
        text-align: right;
        color: #8c8c8c;
    }
    
    .slider-Allclothes .owl-dots {
        display: none;
    }
    
    .carousel-custum .owl-nav {
        font-size: 3rem;
    }
    
    .carousel-custum .owl-nav button {
        background: none !important;
        color: #b3b3b3 !important;
    }
    
    .carousel-custum .owl-nav button:hover {
        color: #4d4d4d !important;
    }
    
    .carousel-custum .owl-prev {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .carousel-custum .owl-next {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .ic-scroll-top {
        position: fixed;
        bottom: 50px;
        right: 4px;
        font-size: 1.1rem;
        background-color: #cccccc;
        padding: 10px 15px;
        border-radius: 100%;
        cursor: pointer;
        transition: .3s ease;
        z-index: 99;
    }
    
    .ic-scroll-top:hover {
        background-color: #0d0d0d;
        color: white;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.49);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.49);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.49);
    }
    
    footer {
        margin-top: 40px;
        padding-top: 40px;
        background-color: white;
    }
    
    .newletter {
        background: url(https://www.verdict.co.uk/wp-content/uploads/2021/04/shutterstock_1583248045.jpg) center center no-repeat;
        background-size: cover;
        padding: 40px 0;
    }
    
    .newletter .container {
        display: flex;
        align-items: center;
        padding: 0 50px;
        flex-wrap: wrap;
    }
    
    .newletter .container .infor-left h2 {
        color: white;
    }
    
    .newletter .container .infor-left h2 i {
        padding-right: 12px;
    }
    
    .newletter .container form {
        display: flex;
        padding: 0 20px;
        margin-left: 12px;
        background-color: white;
        border-radius: 40px;
        height: 48.4px;
    }
    
    .newletter .container input {
        width: 500px;
        outline: none;
        border: none;
        height: 48.4px;
    }
    
    .newletter .container .icon i {
        font-size: 2rem;
        height: 48.4px;
        line-height: 48.4px;
        color: #ec3237;
    }
    
    .review-bottom {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
    }
    
    .review-bottom .infor-item {
        flex-basis: 33.3333%;
    }
    
    .review-bottom .infor-item ul li:first-child {
        font-weight: 600;
        padding-bottom: 12px;
    }
    
    .review-bottom .infor-item ul li:not(:first-child) {
        padding: 4px 0;
    }
    
    .review-bottom .infor-item ul li i {
        width: 40px;
    }
    
    .nav-responsive {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 900;
        height: 50px;
        box-shadow: 0 2px 5px 0 #cecece;
    }
    
    .nav-responsive-top {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 30px;
        background-color: white;
    }
    
    .nav-responsive-top__ingredient form {
        display: flex;
        align-items: center;
        border: 1px solid #cccccc;
        justify-content: space-between;
        margin: 0 12px;
        padding: 0 8px;
        border-radius: 4px;
    }
    
    .nav-responsive-top__ingredient form input {
        border: none;
        outline: none;
        padding: 8px 0;
    }
    
    .nav-responsive-top .nav-responsive-top__ingredient i {
        font-size: 1.8rem;
        color: #ec3237;
        cursor: pointer;
    }
    
    .nav-responsive-top .nav-responsive-top__ingredient .icon-left {
        padding-right: 8px;
    }
    
    .nav-responsive-top .nav-responsive-top__ingredient .icon-df {
        font-size: 1rem;
        color: #999999;
    }
    
    .nav-responsive-top .fix-df {
        flex: 1;
    }
    
    .nav-responsive-top img {
        width: 65px;
        height: auto;
    }
    
    .menu-left {
        position: fixed;
        background-color: white;
        width: 280px;
        left: 0;
        bottom: 0;
        top: 0;
        transform: translateX(-100%);
        transition: .3s ease;
        z-index: 1000;
    }
    
    .menu-left.active-menu-left {
        transform: translateX(0%);
    }
    
    .menu-left .item {
        padding: 10px 12px;
    }
    
    .menu-left .item>a>i {
        width: 30px;
    }
    
    .menu-left ul li {
        position: relative;
        border-bottom: 1px solid #e6e6e6;
    }
    
    .menu-left ul li a {
        display: inline-block;
        width: 100%;
        padding: 10px 12px;
        font-size: .9rem;
    }
    
    .menu-left ul li i {
        position: absolute;
        font-size: 1.2rem;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 8px;
        cursor: pointer;
        transition: .3s ease;
    }
    
    .menu-left .subnav-mobile {}
    
    .subnav-mobile.active-subnav-mobile {
        display: block !important;
    }
    
    .menu-left .subnav-mobile>li {
        border: none !important;
    }
    
    .menu-left .subnav-mobile>li>a {
        display: inline-block !important;
        padding: 10px 22px !important;
        background-color: #e6e6e6;
    }
    
     ::-webkit-scrollbar {
        width: 8px;
    }
    
     ::-webkit-scrollbar-thumb {
        background-image: linear-gradient(360deg, #ff8080, #ec3237);
        border-radius: 4px;
    }
    
    @media screen and (max-width:1024px) {
        .container {
            width: 640px;
            margin: 0 auto;
        }
        .header__slider {
            margin-top: 50px;
        }
        .header__slider img {
            max-width: 100%;
            height: auto;
        }
        .nav-responsive {
            display: block;
        }
        .top,
        .highlight-tt,
        .navigation-main {
            display: none;
        }
        .header__slider {
            padding: 0;
        }
        .slider-text p {
            height: auto;
        }
        .newletter .container {
            padding: 0;
        }
        .newletter .container .infor-left {
            flex-basis: 100%;
            text-align: center;
            padding-bottom: 14px;
        }
        .newletter form {
            flex-basis: 100%;
            margin-left: 0px !important;
            justify-content: space-between;
        }
        .review-bottom .infor-item {
            flex-basis: 100%;
            padding: 16px 0;
        }
        .slider-Allclothes__item .infor-title .review ul li:not(:last-child) {
            display: none;
        }
        .option-right {
            top: 60% !important;
        }
    }
    
    @media screen and (max-width:768px) {
        .container {
            width: 100%;
        }
        .options-left {
            display: none;
        }
        .slider-text {
            padding: 0 12px;
        }
        footer .newletter {
            padding: 40px 16px;
        }
        .newletter form input {
            width: auto !important;
        }
        footer .review-bottom {
            padding: 20px 30px;
        }
        .option-right {
            top: 60%;
        }
        .ic-scroll-top {
            margin-right: 5px;
        }
    }
    
    @media screen and (max-width:440px) {
        .nav-responsive .nav-responsive-top {
            padding: 0 8px !important;
        }
        .slider-text {
            padding: 0 8px;
            font-size: .85rem;
        }
        .review-bottom .infor-item img {
            width: 100%;
            height: auto;
        }
    }